.swiper-button-prev, .swiper-button-next {
  color: white !important;
}


.swiper-slide {
  width: 100% !important;
  height: fit-content !important;
}

.swiper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


