.cursor {
width: 30px;
height: 30px;
border: 1px solid rgb(255, 255, 255);
background-color: rgb(251, 251, 251);
border-radius: 50%;
position: absolute;
pointer-events: none;
mix-blend-mode: difference;
}
.cursor::after {
content: "";
width: 50px;
height: 50px;
position: absolute;
border: 2px solid rgb(0, 255, 4);
background-color: transparent;
border-radius: 50%;
/* opacity: .5; */
top: -8px;
left: -8px;
}
@keyframes cursorAnim {
0% {
transform: scale(1);
}
50% {
transform: scale(5);
}
100% {
transform: scale(1);
opacity: 0;
}
}
.expand {
animation: cursorAnim .5s forwards;
}