@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Robecha;
  src: url('./assets/fonts/Robecha-Daniera-Regular.ttf')
}

/*
* {
  cursor: none;
} */

@layer base {
   /* Scroll */
  .scroll-hidden::-webkit-scrollbar{
    display: none;
  }
  .scroll-style::-webkit-scrollbar{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(66, 245, 141) rgb(66, 245, 141); 
  }
  .scroll-style::-webkit-scrollbar{
    @apply w-2;
  }
  .scroll-style::-webkit-scrollbar-track {
    @apply bg-slate-700;
  }
  .scroll-style::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gradient-to-tr from-blue-500 to-green-500 via-teal-500;
  }
   
}

:root {
  font-family: Robecha;
  line-height: 1.5;
  font-weight: 400;

  background: black;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



